<html>
  <head>
    <link rel="stylesheet" href="login.css" />
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="root"></div>
    <!-- todo разобраться с форматингом внутри скрипта -->
    <script id="entry-template" type="text/x-handlebars-template">
      <form id="form"> <div class="container"> <label for="uname"><b>{{username}}</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required />
      <label for="psw"><b>Password</b></label> <input type="password"
      placeholder="Enter Password" name="psw" required /> <button
      type="submit">Login</button> <div class="href"> <a
      href="../registration/registration.hbs">Sign up</a> </div> </div> </form>
    </script>
    <!-- todo перенести -->

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"
    ></script>;

    <script src="./login.js"></script>

  </body>
</html>