html,
body {
  height: 100%;
}

.chat {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidenav {
  background-color: aqua;
  width: 420px;
}

.content {
  flex-grow: 1;
}

.sidenav_inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.sidenav_header {
  display: flex;
  height: 68px;
  justify-content: flex-start;
}

.sidenav_body {
  flex-grow: 1;
  overflow: auto;
}
