.profile_avatar {
  width: 130px;
  height: 130px;
  background-color: #efefef;
  border-radius: 50%;
  margin: 5px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile_data {
  display: flex;
}

.profile_container > div {
  width: 400px;
}

a {
  text-decoration: none;
  font-size: 13px;
}

.change_profile_data {
  display: flex;
  justify-content: flex-start;
  flex: 0 0 100%;
}

.profile_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  padding: 10px;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

.red {
  color: #ff0000;
}

.blue {
  color: #3369f3;
}

button {
  background-color: #3369f3;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  color: #ffffff;
  padding: 10px 70px;
}
