<html>
  <head>
    <link rel="stylesheet" href="registration.css" />
  </head>
  <body>
    <form id="form">
      <div class="container">
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter email" name="email" required />

        <label for="login"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="login" required />

        <label for="first_name"><b>First Name</b></label>
        <input
          type="text"
          placeholder="Enter First Name"
          name="first_name"
          required
        />

        <label for="second_name"><b>Second Name</b></label>
        <input
          type="text"
          placeholder="Enter Second Name"
          name="second_name"
          required
        />

        <label for="phone"><b>Phone</b></label>
        <input type="tel" placeholder="Enter Phone" name="phone" required />

        <label for="password"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />

        <button type="submit">Login</button>
        <div class="href">
          <a href="../login/login.hbs">Sign in</a>
        </div>
      </div>
    </form>

    <script src="registration.js"></script>
  </body>
</html>