<div class="center">
  <div class="error-container">
    <div class="text-error">
      {{number}}
    </div>
    <div>
      {{text}}
    </div>
    <div>
      <a href="{{linkUrl}}">{{linkLabel}}</a>
    </div>
  </div>
</div>
