<div class="center">
  <div class="error_container">
    <div class="text_error">
      {{number}}
    </div>
    <div>
      {{text}}
    </div>
    <div>
      <a href="{{linkUrl}}">{{linkLabel}}</a>
    </div>
  </div>
</div>