.chat_details {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.chat_details .chat_content {
  overflow-y: auto;
}

.dots:after {
  content: "\2807";
  font-size: 30px;
  color: var(--text-color);
}

.chat_content {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.day_container {
  display: flex;
  flex-direction: column;
}

.day_container_date {
  display: flex;
  align-items: center;
}

.message_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.message_container_left {
  justify-content: flex-start;
}

.message_container_right {
  justify-content: flex-end;
}

.chat_avatar {
  width: 47px;
  height: 47px;
  background-color: var(--background-component);
  border-radius: 50%;
  margin: 5px;
}

.chat_header_left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date {
  align-items: center;
}

.chat_header {
  display: flex;
  justify-content: space-between;
}

.message_text_other {
  display: flex;
  max-width: 400px;
  padding: 10px;
  background-color: var(--message-other);
  border-radius: 16px;
}

.message_text_my {
  display: flex;
  max-width: 400px;
  padding: 10px;
  background-color: var(--message-my);
  border-radius: 16px;
}

header,
footer {
  flex-basis: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.text_stub {
  display: flex;
  justify-content: center;
  align-items: center;
}
