:root {
  --text-light-grey: #999999;
  --background-component: #efefef;
  --border: #eaeaea;
  --background-color: #fbfbfb;
  --warning-color: #ff0000;
  --action-color: #3369f3;
  --button-text-color: #ffffff;
}

.text_bold {
  font-size: 13px;
}

.text_min {
  color: var(--text-light-grey);
  font-size: 12px;
}
